@model WebApplication2.Models.CourseSelectionViewModel

<h2>選課編輯</h2>
@if (String.IsNullOrEmpty(Model.StudentId))
{
    Html.RenderAction("Create", Model.CreateViewModel);

}
else
{
    Html.RenderPartial("Edit", Model.EditViewModel);
}

<table class="table">
    <thead>
        <tr>
            <th>學號</th>
            <th>課程</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Student_ClassList)
        {
            <tr>
                <td>@item.StudentId</td>
                <td>@item.ClassName</td>
                <td>
                    <input id="btnDelete" onclick="location.href='@Url.Action("Delete", "CourseSelection", new { id = item.StudentId })'" type="button" value="刪除" />
                    <input id="btnEdit" onclick="location.href='@Url.Action("Edit", "CourseSelection", new { id = item.StudentId })'" type="button" value="編輯" />
                </td>
            </tr>
        }
    </tbody>
</table>
