@{
    ViewBag.Title = "About";
}
<p></p>
<p>學號 <input type="text" value="aaa" /></p>
<p>生日 <input type="text" value="aaa" /></p>
<p>姓名 <input type="text" value="aaa" /></p>
<p>Email <input type="text" value="aaa" /></p>
<p><button>新增</button></p>
<table class="editorDemoTable" style="width: 439px; border-color: black; ">
    <tbody>
        <tr>
            <td style="width: 65.1094px;">學號</td>
            <td style="width: 113.531px;">姓名</td>
            <td style="width: 66.901px;">生日</td>
            <td style="width: 56.8854px;">Email</td>
            <td style="width: 102.573px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 65.1094px;">&nbsp;</td>
            <td style="width: 113.531px;">&nbsp;</td>
            <td style="width: 66.901px;">&nbsp;</td>
            <td style="width: 56.8854px;">&nbsp;</td>
            <td style="width: 102.573px;"><button>刪除</button> <button>編輯</button></td>
        </tr>
    </tbody>
</table>